<div class="d-flex justify-content-center p-3">
  <div class="text-center mt-5 ml-3 mr-3 pr-5 pl-5" *ngIf="info" style="width: 80%">
    <h3 class="mt-5 mr-3 ml-3 mb-4 h2 font-italic font-weight-bold">About us</h3>
    <p class="h5">{{ info.about }}</p>
  </div>
</div>
