<div class="d-flex justify-content-center p-3" *ngIf="info">
  <div class="text-center m-5">
    <h3 class="h2 font-weight-bold font-italic mt-3 mb-4">Our contacts</h3>
    <p class="h5 m-4">{{ info.contacts }}</p>
    <p class="h5">{{ info.street }}</p>
  </div>
</div>
