<nav class="navbar navbar-expand navbar-light bg-light p-0 flex-wrap" appShadow>
  <a class="navbar-brand font-italic font-weight-bold m-0 p-3" routerLink="/">My blog</a>
  <div class="navbar navbar-expand m-auto" id="navbarNav">
    <ul class="navbar-nav flex-wrap">
      <li class="nav-item mr-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link h5" routerLink="/">Home</a>
      </li>
      <li class="nav-item ml-3 mr-3" routerLinkActive="active">
        <a class="nav-link h5" routerLink="add">Add</a>
      </li>
      <li class="nav-item ml-3 mr-3" routerLinkActive="active">
        <a class="nav-link h5" routerLink="about">About</a>
      </li>
      <li class="nav-item ml-3 mr-3" routerLinkActive="active">
        <a class="nav-link h5" routerLink="contacts">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
