<div class="p-5 text-center">
  <h2>Your post</h2>
  <form (ngSubmit)="onClickAddPost()">
    <div class="form-group m-5">
      <label for="inputEmail">Title</label>
      <input type="text" name="title" class="form-control mt-2" id="inputEmail" [(ngModel)]="title"/>
    </div>
    <div class="form-group m-5">
      <label for="inputTextArea">Description</label>
      <textarea name="description"  class="form-control mt-2"  id="inputTextArea" [(ngModel)]="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary m-3" [disabled]="title === '' || description === ''">Submit</button>
  </form>
</div>

