<div class="d-flex flex-column ml-5 pl-3" *ngIf="post">
  <h2 class="m-auto border-bottom p-1" >Information post</h2>
  <div class="card border-dark m-3 text-dark" style="width: 40rem" appShadow>
    <div class="card-body">
      <p class="card-text p-1 border-bottom border-dark">Post date: {{post.date}}</p>
      <h5 class="card-title m-3">Title: {{post.title}}</h5>
      <p class="card-text m-3">Description: {{ post.description }}</p>
      <div class="d-flex justify-content-around border-top border-dark pt-3">
        <a [routerLink]="['edit']" class="btn btn-primary pl-4 pr-4 m-2">Edit post</a>
        <button class="btn btn-danger m-2" (click)="onClickDeletePost()">Delete post</button>
      </div>
    </div>
  </div>
</div>

