html,body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: white;
  background: url("https://oir.mobi/uploads/posts/2021-03/1616581198_16-p-odnotonnii-fon-dlya-rabochego-stola-16.jpg");
}

.my-shadow {
  box-shadow: 3px 3px 25px 3px black;
}

.lds-preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 15px;
  margin: 5% auto;
}
.lds-preloader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-preloader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-preloader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-preloader div:nth-child(3) {
  left: 56px;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
