<div class="d-flex flex-column">
  <div class="lds-preloader" *ngIf="loading"><div></div><div></div><div></div></div>
  <div class="row" *ngIf="!loading">
    <div class="d-flex flex-column p-3">
      <h2 class="m-auto border-bottom p-1" *ngIf="emptyServer, else empty">All posts</h2>
      <div *ngFor="let post of posts">
        <div class="card border-dark m-3 text-dark" style="width: 35rem;" appShadow>
          <p class="card-text p-3 border-bottom border-dark">Post date: {{post.date}}</p>
          <div class="card-body pt-0">
            <h5 class="card-title p-3">Title: {{post.title}}</h5>
            <a [routerLink]="['/','posts',post.id]" class="btn btn-primary col">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #empty>
  <h2>This server haven`t posts!</h2>
</ng-template>

<!--Я незнаю будет ли так правельно реализовать прелоудер но мне показалось что так лучше...-->
